.market{
    width: 1336px;
    height:130px;
    margin:0 auto;
   .submarket{
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        column-gap: 30px;
        justify-content: space-around;
        align-items: center;
    }
    & div{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
       
    }
& img{
    width: 54px;
    height: 54px;
    margin-bottom: 10px;
    cursor:pointer;
}
   & h5{
        font-size: 12px;
        opacity: 0.7;
    }

    .circle{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        margin-bottom: 10px;
        background-color:#f0f0f1 ;
        cursor: pointer;

        span{
            width: 54px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    }


